:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  margin: auto;
  height: 800px;
  width: 85vw;
}

.main {
  text-align: center;
  color: #fff;
}

.main__logo--svg {
  margin-left: -8.45rem;
  margin-top: 1.25rem;
  width: 54.2%;
}

.main__illustration {
  display: flex;
  justify-content: center;
}

.main__illustration--svg {
  padding-top: 2.3rem;
  padding-left: 0.1rem;
  width: 94.9%;
  height: 100%;
}

.main__title {
  margin-top: 3.65rem;
  margin-bottom: 0.9rem;
  font-size: 1.54rem;
  font-weight: 700;
  font-family: var(--font-heading);
  line-height: 1.47;
}

.main__paragraph {
  margin: auto;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
  width: 95%;
  line-height: 1.5;
  font-size: 1rem;
}

.main__button {
  margin-bottom: 4rem;
  border-radius: 2rem;
  border-style: none;
  padding: 0.7rem 4.8rem;
  font-family: var(--font-heading);
  font-size: 0.73rem;
  background-color: #fff;
  color: var(--violet);
}

.main__social {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
}

.main__social--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.fab {
  font-size: 0.8rem;
}