:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.main {
  margin: auto;
  height: 800px;
  width: 85vw;
  text-align: center;
  color: #fff;
}

.main__logo--svg {
  margin-top: 1.25rem;
  margin-left: -8.45rem;
  width: 54.2%;
}

.main__illustration--svg {
  padding-top: 2.3rem;
  padding-left: 0.1rem;
  width: 94.9%;
  height: 100%;
}

.main__title {
  margin-top: 3.5rem;
  font-size: 1.54rem;
  font-weight: 700;
  font-family: var(--font-heading);
  line-height: 1.47;
}

.main__paragraph {
  margin: 0.8rem auto 1.5rem auto;
  font-family: var(--font-body);
  width: 95%;
  line-height: 1.5;
}

.main__button {
  padding: 0.7rem 4.8rem;
  font-family: var(--font-heading);
  font-size: 0.73rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #fff;
  color: var(--violet);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.main__social {
  margin: 4rem auto auto auto;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.main__social--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.fab {
  font-size: 0.8rem;
}