:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #fff;
  font-size: 4.26vw;
}

.wrapper {
  margin: 3.9vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
}

.main__logo { align-self: start; width: 56.5%; }

.main__logo--svg { width: 100%; height: 100%; }

.main__illustration {
  margin-top: 2.9rem;
  width: 97%;
}

.main__illustration--svg { width: 100%; height: 100%; }

.main__title {
  margin-top: 3.55rem;
  font-family: var(--font-heading);
  font-size: 1.51rem;
  font-weight: 500;
  line-height: 1.55;
}

.main__paragraph {
  margin-top: 0.9rem;
  width: 98%;
  font-family: var(--font-body);
  line-height: 1.5;
}

.main__button {
  margin-top: 1.7rem;
  padding: 0.7rem 4.8rem;
  font-family: var(--font-heading);
  font-size: 0.73rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #fff;
  color: var(--violet);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
}

.main__social {
  margin: 4rem auto auto auto;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.main__social--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.85rem;
  border: calc( 1rem / 14 ) solid #fff;
  border-radius: 100%;
}