:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #fff;
  font-size: 4.26vw;
}

.wrapper { margin: 3.9vh auto; width: 83vw; }

.main__logo { display: flex; width: 100%; }

.main__logo--svg { width: 56.6%; height: 100%; }

.main__illustration { margin: auto; margin-top: 3.1rem; width: 97%; }

.main__illustration--svg { width: 100%; height: 100%; }

.main__content { margin-top: 3.55rem; }

.main__content-title {
  font-family: var(--font-heading);
  font-size: 1.51rem;
  font-weight: 500;
  line-height: 1.55;
}

.main__content-paragraph {
  margin: auto;
  margin-top: 0.7rem;
  width: 98%;
  font-family: var(--font-body);
  line-height: 1.55;
}

.main__content-button {
  margin-top: 1.5rem;
  padding: 0.65rem 4.7rem;
  font-family: var(--font-heading);
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 1.2rem;
  border-style: none;
  background-color: #fff;
  color: var(--violet);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
}

.main__content-social {
  margin: 4rem auto auto auto;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.main__content-social--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.8rem;
  border: calc(1rem / 14) solid #fff;
  border-radius: 100%;
}