:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  background-color: var(--violet);
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 4.26vw;
}

.wrapper {
  margin: 6vh auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 90vw;
}

.main__logo { width: 100%; }

.main__logo--svg { width: 22%; height: 100%; }

.main__illustration {
  margin-top: .95rem;
  margin-right: 0.9rem;
  width: 54.7%;
}

.main__illustration--svg { width: 100%; height: 100%; }

.main__title {
  margin-top: 1.75rem;
  width: 35%;
  height: 10%;
  font-family: var(--font-heading);
  font-size: .65rem;
  font-weight: 500;
  line-height: 1.5;
}

.main__paragraph {
  /* margin-top: 0.9rem; */
  width: 25.3%;
  font-family: var(--font-body);
  font-size: .3rem;
  line-height: 1.5;
}

.main__button {
  /* margin-top: 1.7rem; */
  padding: .5rem .8rem;
  font-family: var(--font-heading);
  font-size: 0.73rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #fff;
  color: var(--violet);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,.35);
}

.main__social {
  /* margin: 4rem auto auto auto; */
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.main__social--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .6rem;
  height: .6rem;
  font-size: 0.35rem;
  border: calc(1rem / 25) solid #fff;
  border-radius: 100%;
}