:root {
  --violet: rgb(103, 75, 175);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  background-color: var(--violet);
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 4.26vw;
  height: 100%;
}

.wrapper {
  margin: 6.6vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 94vw;
}

.main__logo {
  display: flex;
  width: 100%;
}

.main__logo--svg {
  padding-left: .4rem;
  width: 21.5%;
  height: 100%;
}

.main__illustration {
  margin-top: 1.1rem;
  margin-left: .5rem;
  width: 52.4%;
}

.main__illustration--svg {
  width: 100%;
  height: 100%;
}

.main__content {
  width: 38.6%;
  margin-top: 1.8rem;
  margin-left: .88rem;
}

.main__content-title {
  font-family: var(--font-heading);
  font-size: .65rem;
  font-weight: 500;
  line-height: 1.55;
}

.main__content-paragraph {
  margin-top: 0.3rem;
  width: 98%;
  font-family: var(--font-body);
  font-size: .29rem;
  line-height: 1.55;
}

.main__content-button {
  margin-top: .38rem;
  padding: .25rem 1.05rem;
  font-family: var(--font-heading);
  font-size: 0.28rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #fff;
  color: var(--violet);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .35);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .35);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .35);
}

.main__content-social {
  margin-top: 2.95rem;
  display: flex;
  justify-content: flex-end;
}

.main__content-social--icons {
  display: flex;
  margin-left: .25rem;
  justify-content: center;
  align-items: center;
  width: .6rem;
  height: .6rem;
  font-size: .28rem;
  border: calc(1rem / 30) solid #fff;
  border-radius: 100%;
}